.author_box {
    width: 100%;
    background: var(--bg-color);
    color: var(--global-color)
}

.avatar_box {
    height: 100px;
    width: 100px;
    margin: 20px auto 30px;
}
.author_avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url('../../../public/images/profile.jpg');
    background-size: 100%;
    margin: auto;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.author_avatar:hover {
    transform: rotate(360deg);
    width: 100px;
    height: 100px;
    transition: all 1s ease-in-out;
}
.author_info {
    width: 140px;
    height: 120px;
    background: red;
    margin: 10px auto;
}