.layout {
    display: flex;
    background: var(--bg-color);
    color: var(--global-color);
    padding-top: 30px;

}
.content {
    flex: 1;
    height: 100%;
    overflow: scroll;
    width: 60%;
    border: 1px solid var(--global-color);
    padding: 0 20px;
}
.setting {
    position: fixed;
    right: 10px;
    top: 50%;
}