:root {
  --mask-bg-color: rgba(52,58,70,.8);
}

.dark {
  --bg-color: #23272f;
  --global-color: #fff;
  --font-selected-color: #087ea4;
  --tab-border-color: rgb(52,58,70);
  --theme-show: none;
  --input-bg-color: rgb(52,58,70)
}

.light {
  --bg-color: #f6f6f6;
  --global-color: #000;
  --font-selected-color: #149eca;
  --tab-border-color: rgb(235,236,240);
  --theme-show: block;
  --input-bg-color: rgb(235,236,240)
}
  